@import '../../common.scss';

.card {
    height: 380px;
  
    .card-title {
      margin-bottom: 24px;
      color: $brand-color1;
    }
  
    .card-img-top {
      height: 190px;
      max-width: 260px;
    }
  
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $brand-color2;
      font-weight: 300;
    }
  }
  
@media (max-width: 768px) { 
    .card {
      height: 480px;
  
      .card-img-top {
        margin: 23px;
      }
    }
}