@import './common.scss';

body {
  background: $brand-color3;
  margin: 56px 0;
}

h1 {
  font-size: 48px;
  color: $brand-color1;
}

h2 {
  font-weight: 100;
}

h3, h4 {
  font-weight: 300;
  margin: 32px 0 24px;;
}

a {
  font-size: 24px;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid $brand-color4;
  border-radius: 4px;
}

.container-center {
  justify-content: center;

  .card,
  .text-center {
    margin: 24px 0;
  }
}

.custom-btn {
  width: 160px;
  font-size: 24px;
}